Pods
xcuserdata
git-template
.DS_Store
.bundle/

# fastlane
fastlane/README.md
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output

openHAB.app.dSYM.zip
openHAB.ipa

# spm
build/
BuildTools/.build
OpenHABCore/Package.resolved
OpenHABCore/swift-openapi-generator/
