# file options
--swiftversion 5.1
--exclude Pods
--symlinks ignore

# disabled rules
--disable specifiers # see https://github.com/nicklockwood/SwiftFormat/issues/364

# opt-in rules
--enable isEmpty

# format options
--allman false
--binarygrouping none
--closingparen same-line
--commas inline
--conflictmarkers reject
--decimalgrouping none
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header ignore
--hexgrouping none
--hexliteralcase lowercase
--ifdef no-indent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping none
--operatorfunc space
--patternlet hoist
--ranges spaced
--self remove
--selfrequired 
--semicolons inline
--stripunusedargs closure-only
--trailingclosures 
--trimwhitespace always
--wraparguments after-first
--wrapcollections after-first
--xcodeindentation disabled
--header "// Copyright (c) 2010-{year} Contributors to the openHAB project\n//\n// See the NOTICE file(s) distributed with this work for additional\n// information.\n//\n// This program and the accompanying materials are made available under the\n// terms of the Eclipse Public License 2.0 which is available at\n// http://www.eclipse.org/legal/epl-2.0\n//\n// SPDX-License-Identifier: EPL-2.0"
