<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>849058498762-079qmadgd5f5hkdve7lkrbubfi842afj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASE-IB3CX5wxPMLw1MKBwQQfjG9__JY0I</string>
	<key>GCM_SENDER_ID</key>
	<string>849058498762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.openhab.app</string>
	<key>PROJECT_ID</key>
	<string>openhab-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>openhab-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849058498762:ios:6d4b5c9e93b983a3618c33</string>
	<key>DATABASE_URL</key>
	<string>https://openhab-mobile.firebaseio.com</string>
</dict>
</plist>