# This is a basic workflow that is manually triggered

name: GitHub Release

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
 
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  build_and_deploy::
    # The type of runner that the job will run on
    runs-on: macos-13

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Send greeting
      run: echo "Hello ${{ github.event.inputs.name }}"
    - name: Deploy on TestFlight
        env:
          LANG: en_US.UTF-8
          LC_ALL: en_US.UTF-8
          FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 60
        uses: maierj/fastlane-action@v2.2.1
        with:
          lane: set_github_release
          
