name: Deploy on TestFlight

on:
  workflow_dispatch:
    inputs:
      bump_type:
        type: choice
        description: 'Select version bump type:'
        options:
        - patch
        - minor
        - major

jobs:
  build_and_deploy:
    runs-on: macos-11

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: latest-stable

      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Cache cocoapods dependencies
        uses: actions/cache@v2
        env:
          cache-name: cache-cocoapods-dependencies
        with:
          path: Pods
          key: ${{ runner.os }}-pods-${{ env.cache-name }}-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-${{ env.cache-name }}-

      - name: Setup Cocoapods
        uses: maxim-lobanov/setup-cocoapods@v1
        with:
          podfile-path: Podfile.lock

      - name: Install Dependencies
        run: pod install --repo-update
        shell: bash

      - name: SSH Config
        run: |
          echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config

      - name: SSH Keys
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: |
            ${{ secrets.MATCH_GIT_PRIVATE_KEY }}

      - name: Get the current branch name
        run: echo "::set-output name=branch::${GITHUB_REF#refs/heads/}"
        id: extract_branch

      - name: Deploy on TestFlight
        env:
          OH_CROWDIN_PROJECT_ID: openhab-ios
          OH_CROWDIN_USERNAME: ${{ secrets.OH_CROWDIN_USERNAME }}
          OH_CROWDIN_ACCOUNT_KEY: ${{ secrets.OH_CROWDIN_ACCOUNT_KEY }}
          BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          ASC_API_KEY_ID: ${{ secrets.ASC_API_KEY_ID }}
          ASC_API_KEY_ISSUER_ID: ${{ secrets.ASC_API_KEY_ISSUER_ID }}
          ASC_API_KEY: ${{ secrets.ASC_API_KEY }}
          LANG: en_US.UTF-8
          LC_ALL: en_US.UTF-8
          FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 60
        uses: maierj/fastlane-action@v2.0.1
        with:
          lane: beta
          options: '{ "bump": "${{ github.event.inputs.bump_type }}" }'
          skip-tracking: true
